* {
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  
  
}
.container-product {
  height: 500px;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 25px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: 4px 8px 6px rgba(0, 0, 0, 0.5)   ;
}
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
img {
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
}

.details {
  width: 50%;
  text-align: justify;
}
.price{
    font-size: 24px;
    font-weight: bolder;
}
.description{
    font-family: sans-serif;
}
.btn{
    position: relative;
    margin-left: 150px;
}
.other-details span{
  font-size: 24px;

}
